.TodoPriority{
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    min-height:30px;
    min-width:30px;
}

.TodoPriority.TodoPriority-1{
    background: #f0ad4e;
}
.TodoPriority.TodoPriority-2{
    background: #5cb85c;
}
.TodoPriority.TodoPriority-3{
    background: #5bc0de;
}

.TodoTask .TodoCheck{
    vertical-align: middle;
    text-align: center;
    width: 50px;
    font-size: 16px;
}

.TodoTask .TodoAlias{
    vertical-align: middle;
    text-align: center;
    width: 50px;
    font-family: 'Courier New', monospace;
}
.TodoTask .TodoText{
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    width: 500px;
}
.TodoTask.Done .TodoText{
    font-weight: normal;
}

.TodoTask .TodoDeadline{
    vertical-align: middle;
    text-align: center;
    width: 150px;
}
.TodoTask .TodoUtil{
    vertical-align: middle;
    text-align: right;
}
.TodoTask.Done .TodoText{
    font-weight: normal;
    text-decoration: line-through;
}
.TodoTask{
    height:50px;
}
.TodoTask.Done{
    color:grey;
}